body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    border-radius: 20px;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

nav ul li a:hover {
    color: orange;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container a {
    padding: 10px;
    text-decoration: none;
    color: rgb(165, 158, 125);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.header-container a:hover {
    color: orange;
}

.logo-header {
    height: 60px;
    border-radius: 50px;
}

.logo-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(255, 234, 0), rgb(255, 123, 0));
    padding: 20px; 
    margin: 30px auto;
    width: max-content;
    border-radius: 20px;
}

.logo-principal {
    max-width: 100%;  /* La imagen nunca será más grande que su contenedor */
    height: auto;  /* Mantiene la proporción original */
    border-radius: 20px;
    display: block;  /* Elimina espacios extra */
    margin: 0 auto;  /* Centra la imagen */
    object-fit: contain;
}

/* Ajustes responsivos */
@media screen and (max-width: 768px) {
    .logo-principal {
        height: 300px; /* Reduce el tamaño en tablets */
    }
}

@media screen and (max-width: 480px) {
    .logo-principal {
        height: 200px; /* Reduce el tamaño en celulares */
    }
}