body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: orange;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    padding: 10px;
    text-decoration: none;
    color: rgb(165, 158, 125);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.logo-container a:hover {
    color: orange;
}

.logo-img {
    height: 60px;
    border-radius: 50%;
}

.section-inicio {
    display: flex;
    background: linear-gradient(rgb(255, 234, 0), rgb(255, 123, 0));
    color: white;
    border-radius: 20px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.inicio-text {
    margin: 30px;
    text-align: justify;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.inicio-img {
    border-radius: 20px;
    
}

/* Ajuste para pantallas pequeñas */
@media screen and (max-width: 768px) {
    nav ul li a{
        font-size: 14px;
    }

    .logo-container a{
        font-size: 14px;
    }

    .section-inicio {
        flex-direction: column;
        text-align: center;
        align-items: center; /* Centra los elementos */
        padding: 20px;
        height: auto; /* Altura flexible */
        margin: 30px auto; /* Agrega margen para que no ocupe toda la pantalla */
        width: 60%; /* Ajusta el ancho */
        max-width: 600px; /* Evita que sea demasiado grande */
        border-radius: 15px; /* Mantiene el diseño con bordes redondeados */
    }

    .inicio-text {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify; /* Mejora la legibilidad */
        padding: 10px;
    }

    .inicio-img {
        width: 70%; /* Ajuste dinámico */
        max-width: 250px; /* Mantiene proporción adecuada */
        height: auto; /* Permite que la imagen se ajuste sin deformarse */
        margin-top: 15px; /* Separa del texto */
    }
}